language: cpp

#installing the dependencies: proj and meteoio libraries
install:
        #install required boost libraries
        - sudo apt-get install libboost-all-dev
        - sudo apt-get install doxygen

        #it's supposed to be run in a environment with the access to apt-get (following travis guide)
        - sudo apt-get install libproj-dev
        #in case it is needed you can install a specific version of the library
        #- apt-get install libproj-dev=version

        #meteio install
        - wget https://models.slf.ch/p/meteoio/downloads/get/MeteoIO-2.5.1-src.tar.gz
        - tar xvf MeteoIO-2.5.1-src.tar.gz meteoio
        - cd meteoio/
        #add dependency for proj4 in cmake for meteio
        - cmake -DPROJ4:BOOL=ON .
        - cmake -LAH
        - make && sudo make install
        - cd ..

#actually build the geotop program
script:
        #- cmake -DENABLE_INTERNAL_METEODISTR:BOOL=ON -DMETEOIO_PATH:STRING="/usr/local/" .
        
        #it's a good idea to put each different compilation of geotop in 2 different executables in order to test both of them without any problems

        #build geotop with meteoio disabled
        - cmake -DENABLE_INTERNAL_METEODISTR:BOOL=ON .
        - make
        #make tests with this environment
        #- ctest .
        - ctest -R Bro .
        - cat Testing/Temporary/LastTest.log


        #build geotop with meteoio enabled
        - cmake -DENABLE_INTERNAL_METEODISTR:BOOL=OFF .
        - make
        #make tests with this environment
        #- ctest .
        - ctest -R Bro .
        - cat Testing/Temporary/LastTest.log


#choosing the compiler
compiler:
        - g++
