language: cpp

#installing the dependencies: proj and meteoio libraries
before-install:
	#install required boost libraries
	- apt-get install libboost-all-dev

        #it's supposed to be run in a environment with the access to apt-get (following travis guide)
        - apt-get install libproj-dev
        #in case it is needed you can install a specific version of the library
        #- apt-get install libproj-dev=version
        
        #meteio install
        - wget https://models.slf.ch/p/meteoio/downloads/get/MeteoIO-2.5.1-src.tar.gz
        - tar xvf MeteoIO-2.5.1-src.tar.gz meteoio
        - cd meteoio/
        #add dependency for proj4 in cmake for meteio
        - cmake -DPROJ4:BOOL=ON .
        - make && make install
        - cd ..

#actually build the geotop program
script:
        #- cmake -DENABLE_INTERNAL_METEODISTR:BOOL=ON -DMETEOIO_PATH:STRING="/usr/local/" .
        
        #it's a good idea to put each different compilation of geotop in 2 different executables in order to test both of them without any problems

        #build geotop with meteoio disabled
        #- mkdir build_meteoio_on && cd build_meteoio_on
        - cmake -DENABLE_INTERNAL_METEODISTR:BOOL=ON .
        - make
        #make tests with this environment
        - ctest .
        #- cd ..


        #build geotop with meteoio enabled
        #- mkdir build_meteoio_off && cd build_meteoio_off
        - cmake -DENABLE_INTERNAL_METEODISTR:BOOL=OFF .
        - make
        #make tests with this environment
        - ctest .

        #- cd ..

#choosing the compiler
compiler:
        - g++
