Start testing: Jan 16 22:25 CET
----------------------------------------------------------
2/56 Testing: 1D.test_runner.B2_BeG_017
2/56 Test: 1D.test_runner.B2_BeG_017
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/1D/B2_BeG_017
"1D.test_runner.B2_BeG_017" start time: Jan 16 22:25 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/1D/B2_BeG_017', 'output-tabs-SE27XX') ... ok

----------------------------------------------------------------------
Ran 1 test in 0.001s

OK
<end of output>
Test time =   0.60 sec
----------------------------------------------------------
Test Passed.
"1D.test_runner.B2_BeG_017" end time: Jan 16 22:25 CET
"1D.test_runner.B2_BeG_017" time elapsed: 00:00:00
----------------------------------------------------------

4/56 Testing: 1D.test_runner.Bro
4/56 Test: 1D.test_runner.Bro
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/1D/Bro
"1D.test_runner.Bro" start time: Jan 16 22:25 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/1D/Bro', 'output-tabs-SE27XX') ... ok

----------------------------------------------------------------------
Ran 1 test in 0.001s

OK
<end of output>
Test time =   0.58 sec
----------------------------------------------------------
Test Passed.
"1D.test_runner.Bro" end time: Jan 16 22:26 CET
"1D.test_runner.Bro" time elapsed: 00:00:00
----------------------------------------------------------

6/56 Testing: 1D.test_runner.Calabria
6/56 Test: 1D.test_runner.Calabria
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/1D/Calabria
"1D.test_runner.Calabria" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/1D/Calabria', 'output-tabs-SE27XX') ... ok

----------------------------------------------------------------------
Ran 1 test in 0.001s

OK
<end of output>
Test time =   0.59 sec
----------------------------------------------------------
Test Passed.
"1D.test_runner.Calabria" end time: Jan 16 22:26 CET
"1D.test_runner.Calabria" time elapsed: 00:00:00
----------------------------------------------------------

8/56 Testing: 1D.test_runner.ColdelaPorte
8/56 Test: 1D.test_runner.ColdelaPorte
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/1D/ColdelaPorte
"1D.test_runner.ColdelaPorte" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/1D/ColdelaPorte', 'output-tabs-SE27XX') ... ok

----------------------------------------------------------------------
Ran 1 test in 0.001s

OK
<end of output>
Test time =   0.58 sec
----------------------------------------------------------
Test Passed.
"1D.test_runner.ColdelaPorte" end time: Jan 16 22:26 CET
"1D.test_runner.ColdelaPorte" time elapsed: 00:00:00
----------------------------------------------------------

10/56 Testing: 1D.test_runner.CostantMeteo
10/56 Test: 1D.test_runner.CostantMeteo
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/1D/CostantMeteo
"1D.test_runner.CostantMeteo" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/1D/CostantMeteo', 'output-tabs-SE27XX') ... ok

----------------------------------------------------------------------
Ran 1 test in 0.001s

OK
<end of output>
Test time =   0.58 sec
----------------------------------------------------------
Test Passed.
"1D.test_runner.CostantMeteo" end time: Jan 16 22:26 CET
"1D.test_runner.CostantMeteo" time elapsed: 00:00:00
----------------------------------------------------------

12/56 Testing: 1D.test_runner.Jungfraujoch
12/56 Test: 1D.test_runner.Jungfraujoch
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/1D/Jungfraujoch
"1D.test_runner.Jungfraujoch" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/1D/Jungfraujoch', 'output-tabs-SE27XX') ... ok

----------------------------------------------------------------------
Ran 1 test in 0.001s

OK
<end of output>
Test time =   0.58 sec
----------------------------------------------------------
Test Passed.
"1D.test_runner.Jungfraujoch" end time: Jan 16 22:26 CET
"1D.test_runner.Jungfraujoch" time elapsed: 00:00:00
----------------------------------------------------------

14/56 Testing: 1D.test_runner.PureDrainage
14/56 Test: 1D.test_runner.PureDrainage
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/1D/PureDrainage
"1D.test_runner.PureDrainage" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/1D/PureDrainage', 'output-tabs-SE27XX') ... ok

----------------------------------------------------------------------
Ran 1 test in 0.001s

OK
<end of output>
Test time =   0.58 sec
----------------------------------------------------------
Test Passed.
"1D.test_runner.PureDrainage" end time: Jan 16 22:26 CET
"1D.test_runner.PureDrainage" time elapsed: 00:00:00
----------------------------------------------------------

16/56 Testing: 1D.test_runner.PureDrainageFaked
16/56 Test: 1D.test_runner.PureDrainageFaked
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/1D/PureDrainageFaked
"1D.test_runner.PureDrainageFaked" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/1D/PureDrainageFaked', 'output-tabs-SE27XX') ... ok

----------------------------------------------------------------------
Ran 1 test in 0.001s

OK
<end of output>
Test time =   0.58 sec
----------------------------------------------------------
Test Passed.
"1D.test_runner.PureDrainageFaked" end time: Jan 16 22:26 CET
"1D.test_runner.PureDrainageFaked" time elapsed: 00:00:00
----------------------------------------------------------

18/56 Testing: 1D.test_runner.PureDrainageRainy
18/56 Test: 1D.test_runner.PureDrainageRainy
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/1D/PureDrainageRainy
"1D.test_runner.PureDrainageRainy" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/1D/PureDrainageRainy', 'output-tabs-SE27XX') ... ok

----------------------------------------------------------------------
Ran 1 test in 0.001s

OK
<end of output>
Test time =   0.58 sec
----------------------------------------------------------
Test Passed.
"1D.test_runner.PureDrainageRainy" end time: Jan 16 22:26 CET
"1D.test_runner.PureDrainageRainy" time elapsed: 00:00:00
----------------------------------------------------------

20/56 Testing: 3D.test_runner.Borden05m
20/56 Test: 3D.test_runner.Borden05m
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/3D/Borden05m
"3D.test_runner.Borden05m" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/Borden05m', 'output-tabs-SE27XX') ... ok

----------------------------------------------------------------------
Ran 1 test in 0.001s

OK
<end of output>
Test time =   0.58 sec
----------------------------------------------------------
Test Passed.
"3D.test_runner.Borden05m" end time: Jan 16 22:26 CET
"3D.test_runner.Borden05m" time elapsed: 00:00:00
----------------------------------------------------------

22/56 Testing: 3D.test_runner.Mazia
22/56 Test: 3D.test_runner.Mazia
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/3D/Mazia
"3D.test_runner.Mazia" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/Mazia', 'output-tabs-SE27XX') ... ok

----------------------------------------------------------------------
Ran 1 test in 0.001s

OK
<end of output>
Test time =   0.59 sec
----------------------------------------------------------
Test Passed.
"3D.test_runner.Mazia" end time: Jan 16 22:26 CET
"3D.test_runner.Mazia" time elapsed: 00:00:00
----------------------------------------------------------

24/56 Testing: 3D.test_runner.PSQL_test
24/56 Test: 3D.test_runner.PSQL_test
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/3D/PSQL_test
"3D.test_runner.PSQL_test" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------

----------------------------------------------------------------------
Ran 0 tests in 0.000s

OK
<end of output>
Test time =   0.58 sec
----------------------------------------------------------
Test Passed.
"3D.test_runner.PSQL_test" end time: Jan 16 22:26 CET
"3D.test_runner.PSQL_test" time elapsed: 00:00:00
----------------------------------------------------------

26/56 Testing: 3D.test_runner.WG1_2.0_001
26/56 Test: 3D.test_runner.WG1_2.0_001
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/3D/WG1_2.0_001
"3D.test_runner.WG1_2.0_001" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/WG1_2.0_001', 'output-tabs-SE27XX') ... ok
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/WG1_2.0_001', 'output-maps-SE27XX') ... ok

----------------------------------------------------------------------
Ran 2 tests in 0.001s

OK
<end of output>
Test time =   0.58 sec
----------------------------------------------------------
Test Passed.
"3D.test_runner.WG1_2.0_001" end time: Jan 16 22:26 CET
"3D.test_runner.WG1_2.0_001" time elapsed: 00:00:00
----------------------------------------------------------

28/56 Testing: 3D.test_runner.bonn_1
28/56 Test: 3D.test_runner.bonn_1
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/3D/bonn_1
"3D.test_runner.bonn_1" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/bonn_1', 'output-tabs-SE27XX') ... SKIP: Skipping test `bonn_1` because 'DISABLE_TEST_RUNNER' file is present

----------------------------------------------------------------------
Ran 1 test in 0.001s

OK (SKIP=1)
<end of output>
Test time =   0.59 sec
----------------------------------------------------------
Test Passed.
"3D.test_runner.bonn_1" end time: Jan 16 22:26 CET
"3D.test_runner.bonn_1" time elapsed: 00:00:00
----------------------------------------------------------

30/56 Testing: 3D.test_runner.bonn_2
30/56 Test: 3D.test_runner.bonn_2
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/3D/bonn_2
"3D.test_runner.bonn_2" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/bonn_2', 'output-tabs-SE27XX') ... SKIP: Skipping test `bonn_2` because 'DISABLE_TEST_RUNNER' file is present

----------------------------------------------------------------------
Ran 1 test in 0.001s

OK (SKIP=1)
<end of output>
Test time =   0.58 sec
----------------------------------------------------------
Test Passed.
"3D.test_runner.bonn_2" end time: Jan 16 22:26 CET
"3D.test_runner.bonn_2" time elapsed: 00:00:00
----------------------------------------------------------

32/56 Testing: 3D.test_runner.example
32/56 Test: 3D.test_runner.example
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/3D/example
"3D.test_runner.example" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/example', 'output-tabs-SE27XX') ... ok
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/example', 'output-maps-SE27XX') ... ok

----------------------------------------------------------------------
Ran 2 tests in 0.001s

OK
<end of output>
Test time =   0.58 sec
----------------------------------------------------------
Test Passed.
"3D.test_runner.example" end time: Jan 16 22:26 CET
"3D.test_runner.example" time elapsed: 00:00:00
----------------------------------------------------------

34/56 Testing: 3D.test_runner.hillslope01
34/56 Test: 3D.test_runner.hillslope01
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/3D/hillslope01
"3D.test_runner.hillslope01" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/hillslope01', 'output-tabs-SE27XX') ... ok

----------------------------------------------------------------------
Ran 1 test in 0.001s

OK
<end of output>
Test time =   0.58 sec
----------------------------------------------------------
Test Passed.
"3D.test_runner.hillslope01" end time: Jan 16 22:26 CET
"3D.test_runner.hillslope01" time elapsed: 00:00:00
----------------------------------------------------------

36/56 Testing: 3D.test_runner.hillslope02_superslab
36/56 Test: 3D.test_runner.hillslope02_superslab
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/3D/hillslope02_superslab
"3D.test_runner.hillslope02_superslab" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/hillslope02_superslab', 'output-tabs-SE27XX') ... ok

----------------------------------------------------------------------
Ran 1 test in 0.001s

OK
<end of output>
Test time =   0.59 sec
----------------------------------------------------------
Test Passed.
"3D.test_runner.hillslope02_superslab" end time: Jan 16 22:26 CET
"3D.test_runner.hillslope02_superslab" time elapsed: 00:00:00
----------------------------------------------------------

38/56 Testing: 3D.test_runner.no_reflection
38/56 Test: 3D.test_runner.no_reflection
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/3D/no_reflection
"3D.test_runner.no_reflection" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/no_reflection', 'output-maps-SE27XX') ... ok

----------------------------------------------------------------------
Ran 1 test in 0.001s

OK
<end of output>
Test time =   0.59 sec
----------------------------------------------------------
Test Passed.
"3D.test_runner.no_reflection" end time: Jan 16 22:26 CET
"3D.test_runner.no_reflection" time elapsed: 00:00:00
----------------------------------------------------------

40/56 Testing: 3D.test_runner.panola
40/56 Test: 3D.test_runner.panola
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/3D/panola
"3D.test_runner.panola" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/panola', 'output-tabs-SE27XX') ... ok
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/panola', 'output-maps-SE27XX') ... ok

----------------------------------------------------------------------
Ran 2 tests in 0.001s

OK
<end of output>
Test time =   0.58 sec
----------------------------------------------------------
Test Passed.
"3D.test_runner.panola" end time: Jan 16 22:26 CET
"3D.test_runner.panola" time elapsed: 00:00:00
----------------------------------------------------------

42/56 Testing: 3D.test_runner.panola_25pixel
42/56 Test: 3D.test_runner.panola_25pixel
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/3D/panola_25pixel
"3D.test_runner.panola_25pixel" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/panola_25pixel', 'output-tabs-SE27XX') ... ok
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/panola_25pixel', 'output-maps-SE27XX') ... ok

----------------------------------------------------------------------
Ran 2 tests in 0.001s

OK
<end of output>
Test time =   0.58 sec
----------------------------------------------------------
Test Passed.
"3D.test_runner.panola_25pixel" end time: Jan 16 22:26 CET
"3D.test_runner.panola_25pixel" time elapsed: 00:00:00
----------------------------------------------------------

44/56 Testing: 3D.test_runner.panola_25pixel_nobed
44/56 Test: 3D.test_runner.panola_25pixel_nobed
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/3D/panola_25pixel_nobed
"3D.test_runner.panola_25pixel_nobed" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/panola_25pixel_nobed', 'output-tabs-SE27XX') ... ok
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/panola_25pixel_nobed', 'output-maps-SE27XX') ... ok

----------------------------------------------------------------------
Ran 2 tests in 0.001s

OK
<end of output>
Test time =   0.59 sec
----------------------------------------------------------
Test Passed.
"3D.test_runner.panola_25pixel_nobed" end time: Jan 16 22:26 CET
"3D.test_runner.panola_25pixel_nobed" time elapsed: 00:00:00
----------------------------------------------------------

46/56 Testing: 3D.test_runner.prealpiC
46/56 Test: 3D.test_runner.prealpiC
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/3D/prealpiC
"3D.test_runner.prealpiC" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/prealpiC', 'output-tabs-SE27XX') ... ok

----------------------------------------------------------------------
Ran 1 test in 0.001s

OK
<end of output>
Test time =   0.58 sec
----------------------------------------------------------
Test Passed.
"3D.test_runner.prealpiC" end time: Jan 16 22:26 CET
"3D.test_runner.prealpiC" time elapsed: 00:00:00
----------------------------------------------------------

48/56 Testing: 3D.test_runner.rendena
48/56 Test: 3D.test_runner.rendena
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/3D/rendena
"3D.test_runner.rendena" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/rendena', 'output-tabs-SE27XX') ... ok
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/rendena', 'output-maps-SE27XX') ... ok

----------------------------------------------------------------------
Ran 2 tests in 0.001s

OK
<end of output>
Test time =   0.58 sec
----------------------------------------------------------
Test Passed.
"3D.test_runner.rendena" end time: Jan 16 22:26 CET
"3D.test_runner.rendena" time elapsed: 00:00:00
----------------------------------------------------------

50/56 Testing: 3D.test_runner.small_example
50/56 Test: 3D.test_runner.small_example
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/3D/small_example
"3D.test_runner.small_example" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/small_example', 'output-tabs-SE27XX') ... ok
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/small_example', 'output-maps-SE27XX') ... ok

----------------------------------------------------------------------
Ran 2 tests in 0.001s

OK
<end of output>
Test time =   0.58 sec
----------------------------------------------------------
Test Passed.
"3D.test_runner.small_example" end time: Jan 16 22:26 CET
"3D.test_runner.small_example" time elapsed: 00:00:00
----------------------------------------------------------

52/56 Testing: 3D.test_runner.small_example-channel
52/56 Test: 3D.test_runner.small_example-channel
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/3D/small_example-channel
"3D.test_runner.small_example-channel" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/small_example-channel', 'output-tabs-SE27XX') ... ok

----------------------------------------------------------------------
Ran 1 test in 0.001s

OK
<end of output>
Test time =   0.58 sec
----------------------------------------------------------
Test Passed.
"3D.test_runner.small_example-channel" end time: Jan 16 22:26 CET
"3D.test_runner.small_example-channel" time elapsed: 00:00:00
----------------------------------------------------------

54/56 Testing: 3D.test_runner.small_example-onlyEnergy
54/56 Test: 3D.test_runner.small_example-onlyEnergy
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/3D/small_example-onlyEnergy
"3D.test_runner.small_example-onlyEnergy" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/small_example-onlyEnergy', 'output-tabs-SE27XX') ... ok
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/small_example-onlyEnergy', 'output-maps-SE27XX') ... ok

----------------------------------------------------------------------
Ran 2 tests in 0.001s

OK
<end of output>
Test time =   0.58 sec
----------------------------------------------------------
Test Passed.
"3D.test_runner.small_example-onlyEnergy" end time: Jan 16 22:26 CET
"3D.test_runner.small_example-onlyEnergy" time elapsed: 00:00:00
----------------------------------------------------------

56/56 Testing: 3D.test_runner.snow_dstr_SENSITIVITY
56/56 Test: 3D.test_runner.snow_dstr_SENSITIVITY
Command: "/usr/bin/nosetests" "--verbose" "/home/grz/exact-lab/geotop_project/geotop/tests/test_runner.py"
Directory: /home/grz/exact-lab/geotop_project/geotop/tests/3D/snow_dstr_SENSITIVITY
"3D.test_runner.snow_dstr_SENSITIVITY" start time: Jan 16 22:26 CET
Output:
----------------------------------------------------------
test_runner.TestValidRun.test_generator('/home/grz/exact-lab/geotop_project/geotop/tests/3D/snow_dstr_SENSITIVITY', 'output-tabs-SE27XX') ... ok

----------------------------------------------------------------------
Ran 1 test in 0.001s

OK
<end of output>
Test time =   0.58 sec
----------------------------------------------------------
Test Passed.
"3D.test_runner.snow_dstr_SENSITIVITY" end time: Jan 16 22:26 CET
"3D.test_runner.snow_dstr_SENSITIVITY" time elapsed: 00:00:00
----------------------------------------------------------

End testing: Jan 16 22:26 CET
